---
title: Tags
description:
layout: post.njk
---

{# <style>
  .core-tag {
    font-size: 1.4em;
    font-weight: 600;
    text-decoration: none;
    color: black;
  }
    .core-tag:hover {
    text-decoration: underline;
  }

</style>

<ul>
  <li><a href="/tags/logs/" class="core-tag">Logs</a></li>
  <li><a href="/tags/fragments/" class="core-tag">Fragments</a></li>
  <li><a href="/tags/novels/" class="core-tag">Novels</a></li> #}

{% for tag in collections | getKeys | filterTagList %}
  {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
  <li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a></li>
{% endfor %}
</ul>

{# <ul>
{% for tag in collections | getKeys | filterTagList %}
{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a></li>
{% endfor %}
</ul> #}
