<footer class="site-footer container">
	<div class="site-footer__content">
		<p class="site-footer__meta">© 2019-2026 <a href="/about/">Hatsumi</a> · <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a></p>
		<p class="site-footer__meta">
			Built with <a href="https://11ty.dev" target="_blank">{{ eleventy.generator }}</a>
			· {{metadata.footer.text1}} <a href="{{metadata.footer.text2_url}}" target="_blank">{{metadata.footer.text2}}</a>
		</p>
	</div>
</footer>
{% include "partials/script.njk" %}
{%- js %}{% include "public/js/bs.js" %}{% endjs %}
<script type="module" src="{% getBundleFileUrl "js" %}"></script>
